
AmazonSimulator VS/AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.assets.cache
AmazonSimulator VS/AmazonSimulator VS/obj/Debug/netcoreapp2.0/project.razor.json
AmazonSimulator VS/AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.assets.cache
